@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Manrope:wght@400;700&display=swap');
import contactbg from '../assets/contactbg.png' 


*{
  padding:0;
  margin:0;
}
body{
  font-family:'manrope';

}





